body {
  margin: 0;
  font-family: "Open-Sans", sans-serif;
  color: #2c292c;
  background-color: #f7eff7;
}

#main-header {
  background-color: #8c00ff;
  color: white;
  padding: 2rem 5%;
  text-align: center;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #8c00ff;
  border: 1px solid #8c00ff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: #8c00ff;
}

.btn:hover {
  background-color: #4f0abe;
  border-color: #4f0abe;
}

.btn-alt:hover {
  background-color: #e6c9fc;
  border-color: transparent;
}

.modal {
  position: fixed;
  top: 20%;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

@media (min-width: 48rem) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
#config-overlay {
  text-align: center;
}

#config-overlay h2 {
  margin: 0.5rem 0;
}

.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control input {
  font: inherit;
  border: 1px solid #cccccc;
  width: 15rem;
  padding: 0.35rem;
}

.error label {
  color: #880202;
}

.error input {
  border-color: #880202;
  color: #880202;
  background: #fddbdb;
}

#game-configuration {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  text-align: center;
}

#game-configuration ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#game-configuration li {
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  background-color: #f3e3ff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#game-configuration h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

#game-configuration h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: #5e04a8;
}

.player-symbol {
  font-size: 2rem;
  font-weight: bold;
  color: #2f0452;
  margin: 0.5rem 0;
}

#active-game {
  text-align: center;
  margin: 2rem 0 5rem 0;
  /* top right bottom left */
}

#game-over {
  width: 90%;
  max-width: 40rem;
  margin: auto;
  padding: 1rem 2rem;
  background-color: #320557;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: none;
}

#game-over h2 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

#active-player-name {
  font-weight: bold;
  color: #320557;
}

#game-board {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  /* 6rem 6rem 6rem */
  grid-template-rows: repeat(3, 6rem);
  /* 6rem 6rem 6rem */
  justify-content: center;
  gap: 0.5rem;
}

#game-board li {
  background-color: #d7bbf7;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

#game-board li:hover {
  background-color: #700dcc;
}

#game-board li.disabled {
  background-color: #700dcc;
  color: white;
  cursor: default;
}

/*# sourceMappingURL=styles.css.map */
